 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: hsl(0, 95%, 49%);
    color: hsl(0, 96%, 48%);
    line-height: 1.6;
}

/* Cabeçalho com tema de cidade e campo */
header {
    background: linear-gradient(135deg, #4caf50, #2196f3);
    color: rgb(37, 41, 40);
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

/* Estilos para a seção do Campo */
section#campo {
    padding: 50px 20px;
    background-color: hsl(194, 68%, 71%);
}

section#campo h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

section#campo p {
    font-size: 1.2rem;
    color: #21656a;
    margin-bottom: 30px;
}

section#campo .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

section#campo .image-container {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section#campo .image-container img {
    width: 100%;
    border-radius: 10px;
}

section#campo .text-container {
    width: 45%;
}

/* Estilos para a seção da Cidade */
section#cidade {
    padding: 50px 20px;
    background-color: #91cff6;
}

section#cidade h2 {
    font-size: 2.5rem;
    color: #142529;
    margin-bottom: 20px;
}

section#cidade p {
    font-size: 1.2rem;
    color: #1f4b4e;
    margin-bottom: 30px;
}

section#cidade .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap-reverse;
}

section#cidade .image-container {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(11, 171, 163, 0.2);
}

section#cidade .image-container img {
    width: 100%;
    border-radius: 10px;
}

section#cidade .text-container {
    width: 45%;
}

/* Rodapé */
footer {
    background-color: #010102;
    color: rgb(113, 207, 217);
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
}

footer a {
    color: #f39c12;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    section#campo .content,
    section#cidade .content {
        flex-direction: column;
        gap: 20px;
    }

    section#campo .image-container,
    section#cidade .image-container {
        width: 80%;
    }
}




